<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="box-mg">
        <img class="img-mid" src="/assets/HomePageAssets/Mid-2/b2.png" alt="" />
      </div>
    </div>
    <div class="col-sm-6 box-text">
      <div class="">
        <div class="">
          <h2 class="midtwo-title text-center">
            Don't Settle for Ordinary Branding
          </h2>
          <h5 class="midtwo-h5">
            Unlock the Potential of Your Brand with Our Expertise. Get in touch
            with us today to explore how we can assist you in reaching your
            objectives.
          </h5>
        </div>
        <a routerLink="search" class="a-btn">
          <button class="button-header">
            Get Videos
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
              />
            </svg>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="midthree-title">
        Elevate Your Digital Brand from Zero to Hero
      </h2>
      <ul class="list-box">
        <li class="list">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-check-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
            />
          </svg>
          Create your amazing digital brand
        </li>
        <li class="list">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-check-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
            />
          </svg>
          Add your amazing ideas
        </li>
        <li class="list">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-check-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
            />
          </svg>
          Able to use all the new features
        </li>
      </ul>
    </div>
    <div class="col-sm-6 d-flex justify-content-center mt-3">
      <img
        class="midThree-img"
        src="/assets/HomePageAssets/Mid-3/b1.png"
        alt=""
      />
    </div>
  </div>
</div>

<div class="container-fluid box-tree">
  <div class="container mb-5">
    <div class="row">
      <div class="col-sm-6">
        <img
          class="midThree-img mt-4"
          src="/assets/HomePageAssets/Mid-3/c1.png"
          alt=""
        />
      </div>
      <div class="col-sm-6">
        <h2 class="midthree-title">
          Leave a Memorable Mark with Your Video Assets Online.
        </h2>
        <p class="midsix-p">
          The impression you leave on your audience can be the key to your video
          asset success. That's why it's essential to ensure your video assets
          are on point and leave the right impact. At our video asset agency, we
          grasp the significance of crafting compelling and memorable video
          content for your online presence.
        </p>
        <a routerLink="search" class="a-btn">
          <button class="button-header">
            Get Videos
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
              />
            </svg>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="title-final text-center mb-3">Attain Your Objectives with Our Video Asset Solutions</h1>
        </div>
        <div class="col-sm-12 d-flex justify-content-center">
            <ul class="final-list">
                <li class="item-list-final-first">Digital Branding Award 2023</li>
                <li class="item-list-final">Top Agency Award 2023</li>
                <li class="item-list-final">Business Standard Award 2023</li>
            </ul>
        </div>
    </div>
</div>

<footer class="text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example27" class="form-control" />
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->
</footer>